@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <h1>Star Wars: Renegade</h1>
    <p>
        Star Wars: Renegade is a fan project in Star Wars universe by studio Fly Banana. The project is planned to be released in 2022
    </p>
    <div class="btn btn-primary">About project</div>
    <div class="btn btn-primary">News page</div>
</div>
