@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <h1>Star Wars: Renegade</h1>
    <p>
        Star Wars: Renegade is a fan project in Star Wars universe by studio Fly-Banana. The project is planned to be released in 2022
    </p>
    <div class="btn btn-primary"><a asp-area="" asp-controller="Home" asp-action="About" class="nav-link" style="color: white;">About project</a></div>
    <div class="btn btn-primary"><a asp-area="" asp-controller="Articles" asp-action="Index" class="nav-link" style="color: white;">News list</a></div>
</div>
