<style>
body { background: url("https://cdn-images-1.medium.com/max/1600/1*K9xJno8xofgnEB8Sw2OBEw.png") no-repeat;
       background-size:2550px;
}
    .main_news > a {
        display: table;
        width: 100%;
        table-layout: fixed;
        text-decoration: none;
    }

    a, a:active, a:hover {
        text-decoration: none;
    }

    a {
        color: #555;
        cursor: pointer;
    }

    .main_news .img_wrap {
        overflow: hidden;
        position: relative;
        font-size: 14px;
        display: table-cell;
        width: 55.2%;
        vertical-align: top;
    }

    .main_news .img_wrap2 {
        overflow: hidden;
        position: relative;
        font-size: 14px;
        display: table-cell;
        vertical-align: top;
    }

    .main_news .img_wrap2 {
        overflow: hidden;
        position: relative;
        font-size: 14px;
        display: table-cell;
        vertical-align: top;
    }


    .card {
        display: table-cell;
        border: 2px solid black;
        background: #fff;

        padding: 42px 50px;
        vertical-align: top;
    }

   
    article, main, section {
        display: block;
    }

    .main_news_area {
        padding: 80px 0 80px;
    }
    .main_news .img_caption {
        display: table-cell;
        padding: 62px 20px;
        vertical-align: top;
        font-size:22px;
        color:#808080;

    }
    .main_news .img_caption2 {
        display: table-cell;
        vertical-align: top;
    
    }
    .main_news .img_caption2 {
        display: table-cell;
        vertical-align: top;
        padding: 0px 10px;
    }

    .main_news {
        display: table;
        width: 100%;
        margin-bottom: 18px;
    }

    div, section {
        display: block;
    }
    .title1 {
        color:#ffffff;
    }
</style>
<body>
    <article class="main_news_area">
        <div class="inner2">
            <section class="main_news">
                <a href="#">
                    <div class="img_wrap">
                        <img width="600" src="~/images/LOGO.jpg" />
                    </div>
                    <div class="img_caption">
                        <h3 class="title" style="word-wrap: break-word;">Soon...</h3>
                        <p class="descrption" style="word-wrap: break-word;">
                            Разработка инди-проекта, по вселенной звездных войн, от студии Fly Banana - будет продолжена через 3 месяца.
                        </p>
                    </div>
                </a>
            </section>
            <div>
                <h2 class="title1">Актуальное</h2title1>
            </div>
            <section class="main_news">

                <div class="img_wrap2">
                    <div class="card" style="width: 5rem;">
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Читать далее</a>
                        </div>

                    </div>
                    <div class="card" style="width: 5rem;">
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Читать далее</a>
                        </div>
                    </div>

                    <div class="card" style="width: 5rem;">
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Читать далее</a>
                        </div>
                    </div>
                    <div class="card" style="width: 5rem;">
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Читать далее</a>
                        </div>
                    </div>

                </div>

                <div class="img_caption2" style="width: 25rem;">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Йода одобряет</h4>
                        <hr>
                        <p>Не забываем следить за новостями, а так же подписывайтесь на наши паблики в соц сетях!</p>

                    </div>


                </div>
            </section>
            <h2 class="title1">Популярное</h2>
            <section class="main_news">

                <div class="img_wrap2">
                    <div class="card" style="width: 5rem;">
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Читать далее</a>
                        </div>

                    </div>
                    <div class="card" style="width: 5rem;">
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Читать далее</a>
                        </div>
                    </div>

                    <div class="card" style="width: 5rem;">
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Читать далее</a>
                        </div>
                    </div>
                    <div class="card" style="width: 5rem;">
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Читать далее</a>
                        </div>
                    </div>

                </div>


            </section>

        </div>
        </article>
</body>