<style>
    body {
        width: 100%;
        height: 100%;
        font-size: 22px;
        font-family: 'Montserrat';
        background-color: #ebebeb;
    }

    .container-fluid .left {
        text-align: center;
    }

    .right {
    }

    img {
        width: 50vw;
    }

    h1 {
        font-size: 4vw;
    }

    h2 {
        font-size: 3vw;
    }

    p {
        font-size: 2vw;
    }

    .container-fluid a {
        text-decoration: none;
        color: #808080;
    }

    .card {
        font-size: 2vw;
        display: table-cell;
        border: 2px solid black;
        background: #fff;
        vertical-align: top;
        text-align: center;
        width:25vw;
    }


    section.information .text .column p {
        margin-top: 5%;
        font-size: 1.2vw;
    }
    section.information .text {
        flex-direction: column;
    }
    section.information .text .column {
        display: inline-flex;


        flex-flow: column nowrap;
        width: 45.5%;
        height: auto;
    }
</style>
<div class="container-fluid">
    <h1>Star News</h1>
    <div class="row">
        <a href="#">
            <div class="col-xs-12 col-sm-9 col-md-9 cold-lg-9 left" style="background-color: red"><img src="~/images/LOGO.jpg" /></div>
            <div class="col-xs-12 col-sm-3 col-md-3 cold-lg-9 right" style="background-color: green">
                <h2>Soon...</h2>
                <p> Разработка инди-проекта, по вселенной звездных войн, от студии Fly Banana - будет продолжена через 3 месяца.</p>
            </div>
        </a>
    </div>

</div>
<div class="container-fluid">
    <h1>Актуальное</h1>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 cold-lg-9" style="background-color: red">
            <a href="#">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">

                        <p class="card-text">Текст для новостей</p>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 cold-lg-9" style="background-color: green">
            <a href="#">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">

                        <p class="card-text">Текст для новостей</p>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 cold-lg-9" style="background-color: red">
            <a href="#">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">

                        <p class="card-text">Текст для новостей</p>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 cold-lg-9" style="background-color: green">
            <a href="#">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">

                        <p class="card-text">Текст для новостей</p>

                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
<div class="container-fluid">
    <h1>Популярное</h1>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 cold-lg-9" style="background-color: red">
            <a href="#">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">

                        <p class="card-text">Текст для новостей</p>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 cold-lg-9" style="background-color: red">
            <a href="#">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">

                        <p class="card-text">Текст для новостей</p>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 cold-lg-9" style="background-color: green">
            <a href="#">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">

                        <p class="card-text">Текст для новостей</p>

                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 cold-lg-9" style="background-color: green">
            <a href="#">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">

                        <p class="card-text">Текст для новостей</p>

                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<section class="information">
    <h2>Приметка</h2>
    <div class="text">
        <div class="column">
            <p>
                Knights of the Old Republic — первая компьютерная ролевая игра, действие которой происходит в
                авторском мире «Звёздных войн». Она основана на игровой системе d20 — разновидности D&D 3-й версии.
                Бои проходят в реальном времени, но их можно в любой момент приостановить. Главный герой балансирует
                между добром и злом, и от каждого его поступка зависит его принадлежность к Светлой, либо Тёмной
                сторонам Силы, а в конечном счёте и концовка игры.
            </p>
            <p>
                Knights of the Old Republic — первая компьютерная ролевая игра, действие которой происходит в
                авторском мире «Звёздных войн». Она основана на игровой системе d20 — разновидности D&D 3-й версии.
                Бои проходят в реальном времени, но их можно в любой момент приостановить. Главный герой балансирует
                между добром и злом, и от каждого его поступка зависит его принадлежность к Светлой, либо Тёмной
                сторонам Силы, а в конечном счёте и концовка игры.
            </p>
        </div>
        <div class="column">
            <p>
                Knights of the Old Republic — первая компьютерная ролевая игра, действие которой происходит в
                авторском мире «Звёздных войн». Она основана на игровой системе d20 — разновидности D&D 3-й версии.
                Бои проходят в реальном времени, но их можно в любой момент приостановить. Главный герой балансирует
                между добром и злом, и от каждого его поступка зависит его принадлежность к Светлой, либо Тёмной
                сторонам Силы, а в конечном счёте и концовка игры.
            </p>
            <p>
                Knights of the Old Republic — первая компьютерная ролевая игра, действие которой происходит в
                авторском мире «Звёздных войн». Она основана на игровой системе d20 — разновидности D&D 3-й версии.
                Бои проходят в реальном времени, но их можно в любой момент приостановить. Главный герой балансирует
                между добром и злом, и от каждого его поступка зависит его принадлежность к Светлой, либо Тёмной
                сторонам Силы, а в конечном счёте и концовка игры.
            </p>
        </div>
    </div>
</section>
